/*Стили для всех компонентов*/
#root {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  box-sizing: border-box;
}

.windowApp {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation {
  border-left: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  box-shadow: 3px 3px 6px -2px #999999;
  z-index: 2;
}

.navigation-header {
  font-size: 18px;
  text-align: center;
}

nav.navigation>a>div>div>span {
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home-img {
  width: 250px;
  height: 250px;
}

.home-p {
  text-align: center;
  margin: 16px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.prof {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-p {
  height: 16px;
  margin: 5px;
}

/* .profCart {
  background-color: #ededed;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 15px;
}

.profCart-img {
  width: 150px;
  margin: 0 auto;
}

.profCart-name {
  text-align: center;
}

.profCart-p {
  font-size: 16px;
  margin: 5px 0;
}

.profCart-pSpan {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
} */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.chats {
  flex-grow: 1;
  display: flex;
}

.chats>nav {
  margin-top: 10px;
  border-top: 1px solid #d7d7d7;
  box-shadow: 3px 3px 6px -2px #999999;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chats>nav>p {
  font-size: 18px;
  text-align: center;
}

.chats>nav>div>a>div>div>span {
  text-align: center;
}

.chats>ul>h3 {
  text-align: center;
}

.chats-null {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.chats>nav>div>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chats_del {
  width: 32px;
  height: 32px;
  border: none;
  background-color: #00b8ff;
  border-radius: 50%;
  margin: 0 5px;
  /* font-size: 20px;
  line-height: 20px; */
}

.chats_del:hover {
  box-shadow: 0px 0px 4px 2px #677781;
}

.chats_del:active {
  background-color: #059bff;
}

.chats_add {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}


nav>a:link,
nav>a:visited,
nav>a:active,
nav>a:hover,
nav>div>div>a {
  text-decoration: none;
  color: #404040;
  flex-grow: 1;
}

.chats-forma {
  display: flex;
  flex-direction: column;
}

.form {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.form>div {
  flex-grow: 1;
}

.form>button {
  margin-left: 5px;
}

.todos {
  display: flex;
  flex-direction: column;
}

.todos-item {
  display: flex;
}

.todos-load {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todos-error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todos-error>h2 {
  margin-top: 50px;
}

.todos-error>div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todos-error>button {
  margin-bottom: 50px;
}

.formReg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formReg>div,
.formReg>button {
  margin: 10px 0;
  width: 100%;
}