/*Стили для всех компонентов*/
#root {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  box-sizing: border-box;
}

.windowApp {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation{
  border-left: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  box-shadow: 3px 3px 6px -2px #999999;
  z-index: 2;
}

.navigation-header{
  font-size: 18px;
  text-align: center;
}

nav.navigation>a>div>div>span{
  text-align: center;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.home {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.prof {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prof-p{
  height: 16px;
  margin: 5px;
}

.profCart{
  background-color: #ededed;
  border: 1px solid #bdbdbd;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  padding: 15px;
}

.profCart-img{
  width: 150px;
  margin: 0 auto;
}

.profCart-name{
text-align: center;
}

.profCart-p{
  font-size: 16px;
  margin: 5px 0;
}

.profCart-pSpan{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.chats {
  flex-grow: 1;
  display: flex;
}

.chats>nav{
  margin-top: 10px;
  border-top: 1px solid #d7d7d7;
  box-shadow: 3px 3px 6px -2px #999999;
  z-index: 1;
}

.chats>nav>p{
  font-size: 18px;
  text-align: center;
}

.chats>nav>div>a>div>div>span{
  text-align: center;
}

.chats>ul>h3{
  text-align: center;
}

.chats-null{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-size: 60px;
}

nav>a:link,
nav>a:visited,
nav>a:active,
nav>a:hover,
nav>div>a {
  text-decoration: none;
  color: #404040
}